.weather_icon{
    float: right;
    width: 300px;
    height: 240px;
}
.circle{
    width: 150px; 
    height: 150px;
}
#footer_logo{
    width: 100px;
    height: 100px;
}
.bg-image {
    background-image: url('../assets/beach.jpg');
    background-size: cover;
}